<!DOCTYPE html>
<html>
<head>
    <title>Energy Consumption Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <form action="{{ url_for('predict_datapoint') }}" method="POST">
        <h2>Energy Consumption Predictor</h2>

        <div class="form-group">
            <label for="building_type">Building Type:</label>
            <select id="building_type" name="building_type">
                <option value="Residential">Residential</option>
                <option value="Commercial">Commercial</option>
                <option value="Industrial">Industrial</option>
                
            </select>
        </div>

        <div class="form-group">
            <label for="square_footage">Square Footage:</label>
            <input type="text" id="square_footage" name="square_footage" placeholder="Enter Square Footage value (int)">
        </div>
        <div class="form-group">
            <label for="number_of_occupants">Number of Occupants:</label>
            <input type="text" id="number_of_occupants" name="number_of_occupants" placeholder="Enter Number of Occupants value (int)">

        </div>
        <div class="form-group">
            <label for="appliances_used">Appliances Used:</label>
            <input type="text" id="appliances_used" name="appliances_used" placeholder="Enter Appliances Used value (int)">
        </div>

        <div class="form-group">
            <label for="average_temperature">Average Temperature:</label>
            <input type="text" id="average_temperature" name="average_temperature" placeholder="Enter Average Temperature value (float)">
        </div>
        <div class="form-group">
            <label for="day_of_week">Day of Week:</label>
            <select id="day_of_week" name="day_of_week">
                <option value="Weekday">Weekday</option>
                <option value="Weekend">Weekend</option>
                
                
            </select>
        </div>
        <div>
            <input type="submit" value="Submit">  
        </div>
    </form>

</body>
</html>
